body{
    background-color: rgb(66, 132, 194);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.322);
    padding: 10px;
    margin: auto;
    width: 400px;
   
}


.img {
    max-width: 50%;
    border-radius: 50%;
}

section #buttn {
    margin-bottom: 10px;
}

footer p {
    color: white;
    text-align: center;
}